//- p TEST
//- p Firstname: #{user.first_name}
//- p Lastname: #{user.last_name}

html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/cv.css')
    
  .container
    .row
      img.logo(src="/images/logo.png")
    .row
      .col-xs-6
        label
          h3.personal-padding PERSONAL INFORMATION
    .row
      .col-xs-7
        table.table.fixed.page-break
          tbody
            col(width="25%")
            tr
              td Name
              td 
                p #{user.first_name + ' ' + user.last_name}
            tr
              td Job Title
              td 
                p #{user.competence_job_title.job_title.name}
            tr
              td Date of Birth
              td 
                p #{user.dob}
            tr
              td Gender
              td 
                if user.gender == 0
                  p Female
                else 
                  p Male
            tr
              td Nationality
              td 
                p #{user.nationality_code}
             tr
              td Country/Region
              td 
                p #{user.country_code}
          //- .col-xs-3
          //-   p Name
          //-   p Job Title
          //-   p Date of Birth
          //-   p Gender
          //-   p Nationality
          //-   p Country/Region
          //- .col-xs-4
          //-   p #{user.first_name + ' ' + user.last_name}
          //-   p #{user.competence_job_title.job_title.name}
          //-   p #{user.dob}
          //-   if user.gender == 0
          //-       p Female
          //-   else
          //-       p Male 
          //-   p #{user.nationality_code}
          //-   p #{user.country_code}
      .col-xs-5
        if user.avatar
          img.pull-right(src='/images/#{"resized-" + user.avatar}')
        else
          img.pull-right(src='/images/resized-profile.png', style='position:relative; top: 20px;\
          right: 0px; left:0px; width:200px')        
    .row
      .col-xs-3
        label.statement-padding Personal Statement
    .panel.panel-default
      .panel-body
        p #{user.personal_statement}
    .row
      .col-xs-3
        label Technical Skills
    table.table.table-bordered.page-break
      thead
        tr
          th Skill Name
          th Summary
      tbody
        each val in user.user_technical_skills
            tr
                td #{val.technical_skill.name}
                td #{val.description}
    .row
      .col-xs-8
        label Education, Qualifications & Special Achievements
    table.table.table-bordered.page-break
      thead
        tr
          th Duration
          th University & College
          th Major
      tbody
         each val in user.education
            tr
                td #{val.from_year + ' - ' + val.to_year}
                td #{val.university_college_name}
                td #{val.major}
    .row
      .col-xs-8
        label Courses/Certificates
    table.table.table-bordered.page-break
      thead
        tr
          th Duration
          th Course's Name
          th Description
          th Achievement
      tbody
        each val in user.courses
            tr
                td #{val.from_year + ' - ' + val.to_year}
                td #{val.course_name}
                td #{val.course_description}
                td #{val.achievement}
    .row
      .col-xs-8
        label Employment History
    table.table.table-bordered.page-break
      thead
        tr
          th Duration
          th Company
          th Position
      tbody
       each val in user.employee_histories
            tr
                td #{val.from_year + ' - ' + val.to_year}
                td #{val.company_name}
                td #{val.position}
    .row
      .col-xs-6
        label
          h3 ASSIGNMENTS
    .row
      .col-xs-8
        label Recent Assignments
    each val in user.recentAssignment
      table.table.table-bordered.page-break
        thead
        tbody
          tr
            td.projectName(width="20%") Project Name
            td.projectName #{val.project.name}
          tr
            td Duration
            td(width="200px") #{val.project.start_date} - #{val.project.end_date}
          tr
            td Size (Days)
            td #{val.project.size}
          tr
            td Role Title
            td #{val.project_role.name}
          tr
            td Short Description
            td #{val.project.short_description}
          tr
            td Long Description
            td #{val.project.long_description}
          tr
            td My Responsibility
            td #{val.my_responsibility}
          tr
            td Technology
            td #{val.project.technology}
    .row
      .col-xs-8
        label Working History
    each val in user.project_histories
      table.table.table-bordered.page-break
        thead
        tbody
          tr
            td.projectName(width="20%") Project Name
            td.projectName #{val.name}
          tr
            td Duration
            td #{val.start_date} - #{val.end_date}
          tr
            td Size (Days)
            td #{val.size}
          tr
            td Role Title
            td #{val.role_title}
          tr
            td Project Description
            td #{val.description}
          tr
            td My Responsibility
            td #{val.my_responsibility}
          tr
            td Technology
            td #{val.technology}
    .row
      .col-xs-6
        label
          h3 SKILL METRICS
    .row.page-break
      .col-xs-6
        .well
          span
            u Experience
          ol(start='0')
            li 0 month
            li 1-6 months
            li 6-12 months
            li 1-2 years
            li 2-5 years
            li > 5 years
      .col-xs-6
        .well
          span
            u Expertise
          ol
            li Beginner
            li Intermediate
            li Proficient
            li Advanced
            li Expert
            br
    table.table.table-bordered.page-break
      thead
        tr
          th Skill
          th Last Year Used
          th Expertise
          th Experience
      tbody
        each val in user.parrent
          td(colspan="4") 
            b #{val.name}
          each val2 in val.child
            tr
              td #{val2.name}
              td #{val2.last_year_used}   
              td #{val2.expertiseLevel}
              td #{val2.experience_level}
                  
               
